body {
    width: 100%;
    height: 100vh;             /* Check wtf is going on with the slider */
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
}

h1 {
    text-align: center;
}

p[id="description"] {
    text-align: center;
}

.instruction {
    display: inline;
    font-size: 14px;
    color: rgb(88, 88, 88);
}

form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

input, select, textarea {
    width: 100%;
}

input[type="radio"] {
    width: unset;
    display: inline;
}

label {
    display: block;
    margin: 0 auto;
}

input[type="submit"] {
    display: block;
    min-width: 300px;
    width: 60%;
    margin: 0 auto;
    height: 2em;
}