* {
    box-sizing: border-box;
}

html {
    background-color: white;
    padding: 10px;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 0px;
    padding: 10px;
    font-family: Cambria;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
}

h1, h2, p {
    text-align: center;
}

figure {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

img {
    width: 900px;
    max-width: 100%;
}

#figure-region {
    background-color: white;
    margin: 0 auto;
}

.year::after {
    content: " - ";
}

footer {
    font-size: 16px;
    text-align: center;
    font-weight: 800;
}

#wiki-entry:link {
    color: rgb(0, 69, 189);
}

#wiki-entry:visited {
    color: rgb(0, 69, 189);
}

#wiki-entry:hover {
    cursor: pointer;
    color: rgb(14, 97, 241);
}
